.menu-sidebar.modal {
  max-width: 100%;
  box-shadow: 5px 0 10px;
}
.menu-sidebar.modal.left {
  right: auto;
}
.menu-sidebar.modal.right {
  left: auto;
}
.menu-sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}
.menu-sidebar.modal .modal-dialog .modal-content {
  border: 0;
  box-shadow: none;
}
.menu-sidebar .nav {
  width: 320px;
}
.modal-content {
  margin-left: -10px;
  height: 100vh;
}
